@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-right: 0;
    padding-left: 0;
}


/* Heading Formatting*/

/* .logo-heading{
    font-family: 'Kavoon', 'Roboto', sans-serif;
    font-size: 46px;
    color: #fafafa;
    
} */

.tagline-heading{
    font-family: 'Roboto', sans-serif;
    color: #fafafa;
}

.heading{
    text-align: right;
    margin-right: 50px;
    margin-top: 300px;
}

.header-background-image{
    background-image: url(../images/index-images/sharon-mccutcheon-7EK5WABscqw-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
}


/* Navigation*/

.list-inline-item:not(:last-child){
    margin: 0;
}

.menucontainer{
    font-size: 0;
}

#nav li{
font-size: 14px;
padding: 0;

}

.menuitem{
height: 60px;
padding: 0;
}

.menuitem a{
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 60px;
}

.menuitem span{
    display: inline-flexbox;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif ;
    font-size: 15px;
    font-weight: 500;
    
}


/* Test Navigation CSS*/

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
}


/* How it works*/

.howitworkscontainertitle{
    text-align: center;
    padding-top: 15px;
}

#howitworks{
    /* list-style-type: none; */
    padding: 20px;
    border: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    display: inline-flexbox;
    /*padding: 0; */
}

#howitworks li{
    text-align: center;

}

/* How it works Button*/

.howitworksbtnoutter{
  margin: 20px 0;
  padding: 10px;
}

.howitworksbtninner {
  margin: 0 auto;
  width: 200px;
  padding: 20px;
  color: white;
}

/* Footer*/

footer{
    min-height: 60px;
    height: auto;
    margin: 0;
}

.footer-background-image{
    background-image: url(../images/index-images/sharon-mccutcheon-7EK5WABscqw-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
   
}

.social-links li a i{
  padding-top: 20px;
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: #fafafa;
  letter-spacing: 20px;
}

.social-align{
text-align: center;    
}

/* Image Formatting*/

.logo-link{
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 360px;
}

.re-tie-dye-logo{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/*Colors*/

.li-menu-color-home{
    background-color: #fc66ca;
}

.li-menu-color-about-us{
    background-color: #fcb9fc;

}

.li-menu-color-shop{
    background-color: #cfb0f3;
}

.li-menu-color-faq{
    background-color:#8ab0ef;
} 

/*hoover*/

/* Change the color of navigation links on hover */

.home-hover-color:hover {
    background-color: #fc66ca;
    color: black;
    }

.aboutus-hover-color:hover {
    background-color: #fcb9fc;
    color: black;
    
}

.shop-hover-color:hover {
    background-color: #cfb0f3;
    color: black;
   
}

.faq-hover-color:hover {
    background-color: #8ab0ef;
    color: black;
    
}

/* Add a color to the active/current link */
.topnav a.home-active {
  background-color: #fc66ca;
  color: white;
}

/*Media Queries*/

@media screen and (max-width: 767px) {
    .logo-tag-box {display:none;}
}
