@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-right: 0;
    padding-left: 0;
}


/* Heading Formatting*/

/* .logo-heading{
    font-family: 'Kavoon', 'Roboto', sans-serif;
    font-size: 46px;
    color: #fafafa;
    
} */

.tagline-heading{
    font-family: 'Roboto', sans-serif;
    color: #fafafa;
}

.heading{
    text-align: right;
    margin-right: 50px;
    margin-top: 300px;
}

.header-background-image{
    background-image: url(../images/index-images/sharon-mccutcheon-7EK5WABscqw-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
}


/* Navigation*/

.list-inline-item:not(:last-child){
    margin: 0;
}

.menucontainer{
    font-size: 0;
}

#nav li{
font-size: 14px;
padding: 0;

}

.menuitem{
height: 120px;
padding: 0;
}

.menuitem a{
    width: 100%;
    text-decoration: none;
    color: #868686;
    height: 120px;
}

.menuitem span{
    display: block;
    width: 100%;
    padding-top: 45px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif ;
    font-size: 14px;
    font-weight: 400;
}

/* How it works*/

.howitworkscontainertitle{
    text-align: center;
}

#howitworks{
    /* list-style-type: none; */
    padding: 20px;
    border: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    display: inline-flexbox;
    /*padding: 0; */
}

#howitworks li{
    text-align: center;

}

/* How it works Button*/

.howitworksbtnoutter{
  margin: 20px 0;
  padding: 10px;
}

.howitworksbtninner {
  margin: 0 auto;
  width: 200px;
  padding: 20px;
  color: white;
}

/* Footer*/

footer{
    min-height: 60px;
    height: auto;
    margin: 0;
}

.footer-background-image{
    background-image: url(../images/index-images/sharon-mccutcheon-7EK5WABscqw-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
   
}

.social-links li a i{
  padding-top: 20px;
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: #fafafa;
  letter-spacing: 20px;
}

.social-align{
text-align: center;    
}

/* Image Formatting*/

.logo-link{
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 360px;
}

.re-tie-dye-logo{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/*Colors*/

.li-menu-color-home{
    background-color: #ffadad;
}

.li-menu-color-about-us{
    background-color: #ffd6a5;

}

.li-menu-color-shop{
    background-color: #fdffb6;
}

.li-menu-color-faq{
    background-color:#caffbf;
} 

