@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Roboto:wght@300;400;500;700;900&display=swap');

/* General CSS used throught website */

*{
    margin: 0;
    padding: 0;
    border: 0;;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-right: 0;
    padding-left: 0;
}

.text-center{
    text-align: center;
}


/* Heading Formatting*/

/* .logo-heading{
    font-family: 'Kavoon', 'Roboto', sans-serif;
    font-size: 46px;
    color: #fafafa;
    
} */

.tagline-heading{
    font-family: 'Roboto', sans-serif;
    color: #fafafa;
}

.heading{
    text-align: right;
    margin-right: 50px;
    margin-top: 300px;
}

.header-background-image{
    background-image: url(../images/index-images/sharon-mccutcheon-7EK5WABscqw-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
}


/* Navigation*/


/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
}


/* How it works*/

.howitworkscontainertitle{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 5px;
    font-weight: 300;
    padding-top: 8px;
    /* padding-top: 15px; */
}

#howitworks{
   list-style-type: none;
   font-family: 'Roboto', sans-serif;
    
}

#howitworks li{
    /* text-align: center; */

}

.howitworkscentcol p{
    margin: 0;
    padding-top: 10px;
}

.howitworkscentcol{
    /* background-color: green; */
    min-height: 200px;
}


/* How it works Button*/

.howitworksbtnoutter{
  margin: 20px 0;
  padding: 10px;
}

.howitworksbtninner {
  margin: 0 auto;
  width: 200px;
  padding: 20px;
  color: white;
}

.btn-primary{
    background-image: url(../images/index-images/footerbackgroundimage.jpg);
}

/* About Us*/

.au-heading-outter{
    padding-top: 10px;
}

.au-first-tb{
text-align: center;

}
.au-first-hero{

}
.au-second-tb{
text-align: center;

}
.au-second-hero{

}

.au-third-tb{
    text-align: center;
}

.au-first-image-hero{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

.au-second-image-hero{
 display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.au-third-image-hero{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;

}

.au-heading{
    font-family: "Roboto",sans-serif;
    font-weight: 500;
}

.au-sub-heading{
    font-family: "Roboto",sans-serif;
    font-weight: 400;
}

.au-para{
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    font-style: normal;
    display: block;

}

/* Footer*/

footer{
    min-height: 60px;
    height: auto;
    margin: 0;
}

.footer-background-image{
    background-image: url(../images/index-images/sharon-mccutcheon-7EK5WABscqw-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
   
}

.social-links li a i{
  padding-top: 20px;
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: #fafafa;
  letter-spacing: 20px;
}

.social-align{
text-align: center;    
}

/* Image Formatting*/

.logo-link{
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 360px;
}

.re-tie-dye-logo{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/*Colors*/



/*Hoover*/

/* Change the color of navigation links on hover */

.home-hover-color:hover {
    background-color: #fc66ca;
    color: black;
    }

.aboutus-hover-color:hover {
    background-color: #fcb9fc;
    color: black;
    
}

.shop-hover-color:hover {
    background-color: #cfb0f3;
    color: black;
   
}

.faq-hover-color:hover {
    background-color: #8ab0ef;
    color: black;
    
}

/* Add a color to the active/current link */
.topnav a.home-active {
  background-color: #fc66ca;
  color: #fafafa;
  text-shadow: 1px 1px grey;
}

.topnav a.aboutus-active{
    background-color: #fcb9fc;
  color: #fafafa;
  text-shadow: 1px 1px grey;
}

/* Hoover icons */
.fa-instagram:hover{
    text-shadow: 2px 2px grey;
}

.fa-twitter:hover{
    text-shadow: 2px 2px grey;
}

.fa-facebook-square:hover{
    text-shadow: 2px 2px grey;
}

/*Media Queries*/

@media screen and (max-width: 767px) {
    .logo-tag-box {display:none;}
}
